<div>


  <div class="pentaho-tab-bar">

    <div class="pentaho-tabWidget"
         data-ng-click="selectTab( 'availableTab' )"
         data-ng-class="{ 'pentaho-tabWidget-selected': isTabSelected(  'availableTab'  ) }" >
      <div class="pentaho-tabWidgetLab"> Available </div>
    </div>

    <div class="pentaho-tabWidget"
         data-ng-click="selectTab(  'installedTab' )"
         data-ng-class="{ 'pentaho-tabWidget-selected': isTabSelected(  'installedTab' ) }" >
      <div class="pentaho-tabWidgetLabel"> Installed </div>
    </div>

    <button class="pull-right" data-ng-click="refreshPluginsFromServer()">Refresh</button>

  </div>


    <div class="pentaho-tab-deck-panel">

      <!-- TODO: add tabs, filters, list/card view, refresh -->
      <div class="filterBar">

        <div class="filterContainer">
          <!--
                  <div data-multiselect-dropdown
                      data-selected-options="selectedTypes"  data-options="pluginTypes"
                      data-group-by="group" data-display="name" data-select="name" >
                  </div>
          -->

          <div data-multiselect-dropdown
              data-selected-options="selectedStages" data-options="developmentStages"
              data-group-by="lane" data-display="shortDescription" >
          </div>

        </div>

        <div class="stagesInfo">
          <span class="icon info"></span>
          <a data-ng-href="https://www.google.com/?#q=what+are+stages">What are stages?</a>
        </div>

      </div>

      <div plugin-list plugins="filteredPlugins" on-plugin-clicked="pluginWasClicked" />

      <div>INFO BAR HERE</div>

    </div>

</div>
