
/* Migrate to CAF */

.cafPointer:hover{
    cursor: pointer;
}



html, body {
}

.marketplacePanel {

}

.templateHead > div.templatePanels{
    margin-right: 20px;

}

.templateHead > div.templateActions{
    float: right;

}


.templateTitle{
    clear: both;
    margin-left: 100px;
    margin-bottom: 50px;
}


/* Transition basic */


.templatePanelsContainer{
    
    /* Remove this later */
    min-height: 600px;

}

.templatePanelsContainer {
    position: relative;
}

.panelContainer{

    position: absolute;
    top: 0px;

    width: 1150px;
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;


    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    transition: all 500ms ease-in;

}

.basicTransitionHidden{
    opacity:0;
}


.panelHidden{
    display: none;
}


.marketplacePanelTitle{
    text-align: center;
}

/* Plugins */

.pluginWrapper {
    
    margin-top:10px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 5px;
        
}


.pluginWrapper.selected > .pluginHeader{
    color: white;
}


.pluginHeader {
    background-color: #242424;
    overflow: hidden;
    color: #d2d2d2;
    height: 40px;
}


.pluginHeader > div{
    display: inline-block;
}

.pluginHeaderLogo {
    width: 50px;
}

.pluginHeaderUpdates{
    float: right
}

.pluginHeaderVersionWrapper{
    float: right;
    background-color: #b3b3b3; /* TODO: GRADIENT */
    
}