
/* Migrate to CAF */

.cafPointer:hover{
    cursor: pointer;
}



html, body {
}

.marketplacePanel {

}

.templateHead{
    width: 950px;
}

.templateHead > div.templatePanels{
    margin-right: 20px;

}

.templateHead > div.templateActions{
    float: right;

}

.templatePanelsContainer{
    margin-left: auto;
    margin-right: auto;

}

.templateTitle{
    clear: both;
    margin-left: 100px;
    margin-bottom: 50px;
}


/* Transition basic */


.templatePanelsContainer{

    /* Remove this later */
    min-height: 600px;
    width: 950px;
    margin:0 auto;

}

.templatePanelsContainer {
    position: relative;
}

.panelContainer{

    position: absolute;
    top: 0px;
    width: inherit;
    /*    width: 1150px;*/
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;


    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    transition: all 500ms ease-in;

}

.basicTransitionHidden{
    opacity:0;
}


.panelHidden{
    display: none;
}


.marketplacePanelTitle{
    text-align: center;
    margin-bottom: 10px;
}

/* Plugins */

.pluginWrapper {

/*    margin-top:5px;*/

}


.pluginWrapper.selected > .pluginHeader{
    color: white;
}


/* Generic ones */
body .marketplaceTransparent{
    opacity: 0;
}

body .marketplaceHidden{
    display: none;
}


body .marketplaceCollapsed{
    height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 0px;
}


.pluginHeader {

    overflow: hidden;
    /*    height: 52px;*/

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 

    margin-bottom: 5px;

    font-size: 17px;
    cursor: pointer;

}

.pluginHeader:hover .pluginHeaderTitle{
    font-size: 20px
}

.pluginHeader.pluginSelected{
/*    font-size: 20px;*/
}

.pluginHeader:active .pluginHeaderTitle{
    color: #aaa;
}


.pluginHeader > div{
    float: left;
    height: 50px;
    vertical-align: middle;
    padding: 5px;

}

.pluginHeaderLogo {
    width: 120px;
    float:left;

}

.pluginGradient{

    background: #cfcfcf; /* Old browsers */
    background: -moz-linear-gradient(top,  #cfcfcf 0%, #464646 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cfcfcf), color-stop(100%,#464646)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cfcfcf 0%,#464646 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cfcfcf 0%,#464646 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cfcfcf 0%,#464646 100%); /* IE10+ */
    background: linear-gradient(top,  #cfcfcf 0%,#464646 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cfcfcf', endColorstr='#464646',GradientType=0 ); /* IE6-9 */

}

.pluginGradientGreen{

    background: #cfcfcf; /* Old browsers */
}


.pluginHeaderTitleWrapper{
    width: 800px;
    line-height: 38px;

}


.pluginHeaderTitle{
    float: left;
}

.pluginHeaderUpdates{
    float: right;
    font-size: 12px;
    padding-right: 40px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: right;
}

.pluginHeaderUpdatesAvailable{
    background-image: url('img/updateAvailable.png');
}

.pluginHeaderUpdatesUpdated{
    background-image: url('img/updatedVersion.png');
}


.pluginHeaderVersionWrapper{
    width: 150px;
    font-size: 10px;
    text-align: center;
}

.pluginHeaderVersionLabel{
    margin-top: 4px;
    font-size: 7px;

}


.pluginBody{

    overflow: hidden;
    margin-bottom: 5px;

    background-color: white;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 

    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

.pluginBodyVisibilityToggle{

    padding-top: 30px;

    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    
}

.pluginBodyTitle{

    color: #808080;
    height: 30px;
    font-size: 8px;
}


.pluginBodyDescLogo{
    margin-top: 30px;

}

.pluginBodyDescription{
    height: 120px;
    overflow-y: auto;
}

.pluginBodyFooterContent{
    
    margin-top: 10x;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
    border-top: 1px solid #808080;
    text-align: right;
   
}

.pluginBodyFooterContent a{
    color: black;
    text-decoration: none;
}

.pluginBodyVersions{
    min-height: 1px; /* Give it existance */
}

.pluginVersions{

    margin-bottom: 20px;
    
}

.pluginVersion {
    float: left;
    padding-right: 40px;
}

.pluginVersionNumber{
    font-weight: bold;
}


.uninstallVersion{
    margin-top: 30px;
    color: #808080;
}

.uninstallVersion:hover{
    color: black;
}

.uninstallVersion:active{
    color: red;
}