
/* Migrate to CAF */

.cafPointer:hover{
    cursor: pointer;
}



html, body {
}

.marketplacePanel {

}

.templateLogo {
    background: url('http://www.webdetails.pt/ficheiros/marketplace_logo.png') repeat scroll 0 0 transparent;
    display: inline-block;
    float: left;
    height: 52px;
    margin-left: 0px;
    width: 154px;
}

.templateHead{
    width: 950px;
}

.templateHead > div.templatePanels{
    margin-right: 20px;

}

.templateHead > div.templateActions{
    float: right;

}

.templatePanelsContainer{
    margin-left: auto;
    margin-right: auto;

}

.templateTitle{
    clear: both;
    margin-left: 100px;
    margin-bottom: 50px;
}


.aboutActionWrapper{
    width:950px;
    margin-bottom:15px;
    
}
.aboutActionLogo {
    background: url('http://www.webdetails.pt/ficheiros/marketplace_logo.png') repeat scroll 0 0 transparent;
    display: inline-block;
    float: left;
    height: 52px;
    margin-left: 0px;
    width: 154px;
}
.aboutActionDesc{
    
}
.aboutActionDevBy{
    
    
}




/* Transition basic */


.templatePanelsContainer{

    /* Remove this later */
    min-height: 600px;
    width: 950px;
    margin:0 auto;

}

.templatePanelsContainer {
    position: relative;
}

.panelContainer{

    position: absolute;
    top: 0px;
    width: inherit;
    /*    width: 1150px;*/
    min-height: 600px;
    margin-left: auto;
    margin-right: auto;


    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    transition: all 500ms ease-in;

}

.basicTransitionHidden{
    opacity:0;
}


.panelHidden{
    display: none;
}


.marketplacePanelTitle{
    text-align: center;
    margin-bottom: 10px;
}

/* Plugins */

.pluginWrapper {

/*    margin-top:5px;*/

}


.pluginWrapper.selected > .pluginHeader{
    color: white;
}


/* Generic ones */
body .marketplaceTransparent{
    opacity: 0;
}

body .marketplaceHidden{
    display: none;
}


body .marketplaceCollapsed{
    height: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
    min-height: 0px;
}


.pluginHeader {

    overflow: hidden;
    /*    height: 52px;*/

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 

    margin-bottom: 5px;

    font-size: 17px;
    cursor: pointer;

}

.pluginHeader:hover .pluginHeaderTitle{
    font-size: 20px
}

.pluginHeader.pluginSelected{
/*    font-size: 20px;*/
}

.pluginHeader:active .pluginHeaderTitle{
    color: #aaa;
}


.pluginHeader > div{
    float: left;
    height: 50px;
    vertical-align: middle;
    padding: 5px;

}

.pluginHeaderLogo {
    width: 120px;
    float:left;
    height:auto;
    padding-left:5px;

}
.pluginHeaderLogo > img {
    height: 40px;
    width: 90px;
}


.pluginHeaderTitleWrapper{
    width: 799px;
    line-height: 38px;
    margin-right:1px;

}


.pluginHeaderTitle{
    float: left;
}

.pluginHeaderUpdates{
    float: right;
    font-size: 12px;
    padding-right: 40px;
    margin-right: 10px;
    background-repeat: no-repeat;
    background-position: right;
}


.pluginStatusUpdateAvailable{
    background-image: url('img/statusUpdateAvailable.png');
}

    
.pluginStatusUpToDate{
    background-image: url('img/statusUpToDate.png');
}

.pluginStatusInstalled{
    background-image: url('img/statusInstalled.png');
}

.pluginStatusNotInstalled{
    background-image: url('img/statusNotInstalled.png');
}

.pluginStatusInstalling{
    background-image: url('img/statusInstalling.gif');
}

.pluginStatusUninstalling{
    background-image: url('img/statusUninstalling.gif');
}



.pluginHeaderVersionWrapper{
    width: 150px;
    font-size: 10px;
    text-align: center;
    
    background: #d8d8d8; 
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Q4ZDhkOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmY2ZjZmMiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #d8d8d8 0%, #fcfcfc 100%); 
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d8d8), color-stop(100%,#fcfcfc)); 
    background: -webkit-linear-gradient(top,  #d8d8d8 0%,#fcfcfc 100%); 
    background: -o-linear-gradient(top,  #d8d8d8 0%,#fcfcfc 100%); 
    background: -ms-linear-gradient(top,  #d8d8d8 0%,#fcfcfc 100%); 
    background: linear-gradient(top,  #d8d8d8 0%,#fcfcfc 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d8d8d8', endColorstr='#fcfcfc',GradientType=0 ); 

}

.pluginHeaderVersionLabel{
    margin-top: 4px;
    font-size: 7px;

}


.pluginBody{

    overflow: hidden;
    margin-bottom: 5px;

    background-color: white;
    
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px; 

    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    -o-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
}

.pluginBodyVisibilityToggle{

    padding-top: 30px;

    -webkit-transition: all 500ms ease-in-out;
    -moz-transition: all 500ms ease-in-out;
    -o-transition: all 500ms ease-in-out;
    transition: all 500ms ease-in-out;
    
}

.pluginBodyTitle{

    color: #808080;
    height: 30px;
    font-size: 8px;
}


.pluginBodyDescLogo{
    margin-top: 30px;

}

.pluginBodyDescLogo > img{
    width:140px;
}

.pluginBodyDescription{
    height: 120px;
    overflow-y: auto;
}

.pluginBodyFooterContent{
    
    margin-top: 10x;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    
    border-top: 1px solid #808080;
    text-align: right;
   
}

.pluginBodyFooterContent a{
    color: black;
    text-decoration: none;
}

.pluginBodyVersions{
    min-height: 1px; /* Give it existance */
}

.pluginVersions{

    margin-bottom: 20px;
    
}

.pluginVersion {
    float: left;
    padding-right: 40px;
}

.pluginVersionNumber{
    font-weight: bold;
}

.pluginVersionHighlight{
    text-decoration: underline;
}

.uninstallVersion{
    margin-top: 30px;
    color: #808080;
}

.uninstallVersion:hover{
    color: black;
}

.uninstallVersion:active{
    color: red;
}

