<div class="multiselect">
    <div class="btn-group" data-uib-dropdown data-is-open="status.isopen">
      <button class="btn btn-primary dropdown-toggle" data-uib-dropdown-toggle type="button" data-ng-disabled="disabled"
          data-popover="{{optionsDisplayString}}" data-popover-popup-delay="500"
          data-popover-trigger="mouseenter" data-popover-placement="bottom">
        <span class="multiselectButtonText">
          <span>{{prefix}}</span>
          <span>{{optionsDisplayString}}</span>
        </span>
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu" data-uib-dropdown-menu role="menu">

          <li class="group"
              data-ng-repeat-start="group in groups"
              data-ng-click="groupClicked( group )"
              data-ng-class="group.getCssClass()"
              data-stop-event="click">
            <a>
              <input type="checkbox"
                  data-ng-model="group.selected" data-ng-true-value="'All'" data-ng-false-value="'None'"
                  data-indeterminate="group.selected == 'Some'"
                  data-stop-event="click">
              {{group.name}}
            </a>
          </li>

          <li class="option"
              data-ng-repeat="option in group.options"
              data-ng-show="option.name"
              data-ng-click="toggleSelection(option)"
              data-checked="{{option.isSelected}}"
              data-stop-event="click">
            <a>
              <input type="checkbox" data-ng-model="option.isSelected" data-stop-event="click">
              {{option.name}}
            </a>
          </li>

          <li class="divider" data-ng-show="useDivider" data-ng-repeat-end />

      </ul>
  </div>
</div>
