<?xml version="1.0" encoding="UTF-8"?>
<plugin title="marketplace">
<lifecycle-listener class="org.pentaho.marketplace.MarketplaceLifeCycleListener"/>
    <static-paths>
        <static-path url="/marketplace/resources" localFolder="resources"/>
    </static-paths>

 
  
  <perspective id="marketplace.perspective" title="${marketplace}" layout-priority="-1"
               resourcebundle="content/marketplace/resources/lang/messages" content-url="content/marketplace/resources/marketplace.html">
  </perspective>  
  

    <content-generator scope="local" id="marketplace" type="MarketplaceContentGenerator" url="">
        <classname>org.pentaho.marketplace.MarketplaceContentGenerator</classname>
        <title>Marketplace</title>
    </content-generator>

</plugin>
