<?xml version="1.0" encoding="UTF-8"?>
<plugin title="Pentaho Marketplace">

    <static-paths>
        <static-path url="/marketplace/resources" localFolder="resources"/>
    </static-paths>

  <!-- Menu entry -->
    <menu-items>
        <menu-item id="cda_refresh" anchor="tools-submenu" label="Marketplace" command="content/marketplace/resources/marketplace.html" type="MENU_ITEM" how="LAST_CHILD"/>
    </menu-items>

    <webservice  
    id="MarketplaceService" 
    type="xml" 
    class="org.pentaho.marketplace.MarketplaceService"/>


    <content-generator scope="local" id="marketplace" type="MarketplaceContentGenerator" url="">
        <classname>org.pentaho.marketplace.MarketplaceContentGenerator</classname>
        <title>Marketplace</title>
    </content-generator>

</plugin>
