<!DOCTYPE html>
<html>
    <head>
        <title>Marketplace</title>

        <!-- this is important, it provides theming and the base url -->
        <script type="text/javascript" src="webcontext.js?context=marketplace"></script>
<!--
      <link rel="stylesheet" href="css/marketplace.css">
-->

<!--
        <script src="../../common-ui/resources/web/angular/angular.js"></script>
        <script src="../../common-ui/resources/web/angular/angular-resource.js"></script>
        <script src="../../common-ui/resources/web/angular/angular-route.js"></script>
        <script src="lib/underscore.js"></script>

        <script src="../../common-ui/resources/web/bootstrap/ui-bootstrap-tpls-0.6.0.min.js"></script>

        <script src="js/app.js"></script>

        <script src="js/services/navigationService.js"></script>
        <script src="js/services/dtoMapperService.js"></script>

        <script src="js/controllers/appController.js"></script>
        <script src="js/controllers/PluginListController.js"></script>

        <script src="js/models/plugin.js"></script>

        <script src="js/services/appService.js"></script>
        <script src="directives/pluginList/pluginListDirective.js"></script>
        <script src="directives/pluginList/pluginListController.js"></script>

        <script src="directives/pluginListItem/pluginListItemDirective.js"></script>
        <script src="directives/pluginListItem/pluginListItemController.js"></script>

        <script src="directives/pluginDetail/pluginDetailDirective.js"></script>
        <script src="directives/pluginDetail/PluginDetailController.js"></script>

        <script src="directives/stopEvent/stopEventDirective.js"></script>

        <link rel="stylesheet" href="../../common-ui/resources/themes/crystal/bootstrap/css/bootstrap.css">

        <script data-main="main.js" src="../../common-ui/resources/web/require.js"></script>

-->



    </head>

    <body class="bootstrap admin-perspective" >
        <div class="pentaho-fieldgroup-major">Marketplace</div>
        <div data-ng-view></div>

    </body>
    <script src="main.js"></script>

</html>














<!--
<!DOCTYPE html>
<html>
    <head>
        <title>Hello World from Pentaho!</title>
        <script data-main="main.js" src="@js.common-ui.dirpath.prefix@/common-ui/resources/web/require.js"></script>
    </head>
    <body>
        <h1>Hello World from Pentaho!</h1>
        <div id="result"></div>
    </body>
</html>
-->