<!DOCTYPE html>
<html>
    <head>
        <title>Marketplace</title>

        <!-- this is important, it provides theming and the base url -->
        <script type="text/javascript" src="webcontext.js?context=marketplace"></script>

        <link rel="stylesheet" href="css/marketplace.css">

    </head>

    <body class="bootstrap admin-perspective" >
      <div class="wholeContainer">
        <!--
        <div class="pentaho-fieldgroup-major">Marketplace</div>
        -->
        <div data-ng-view></div>
      </div>

    </body>
    <script src="main.js"></script>

</html>
