<!DOCTYPE html>
<html>
    <head>
        <title>Marketplace</title>

        <!-- this is important, it provides theming and the base url -->
        <script type="text/javascript" src="webcontext.js?context=marketplace"></script>

        <link rel="stylesheet" href="css/marketplace.css">

    </head>

    <body class="bootstrap admin-perspective" >
      <div class="wholeContainer">
        <div class="pentaho-fieldgroup-major">Marketplace</div>
        <div data-ng-view></div>
      </div>

    </body>
    <script src="main.js"></script>

</html>














<!--
<!DOCTYPE html>
<html>
    <head>
        <title>Hello World from Pentaho!</title>
        <script data-main="main.js" src="@js.common-ui.dirpath.prefix@/common-ui/resources/web/require.js"></script>
    </head>
    <body>
        <h1>Hello World from Pentaho!</h1>
        <div id="result"></div>
    </body>
</html>
-->