#
# URL for the plugins xml metadata file used by marketplace
#
marketplace.site = http://marketplace.pentaho.com/marketplace-plugins.xml

#
# URL for the telemetry service
#
telemetry.site = http://marketplace.pentaho.com/telemetry-servlet/telemetry

#
# Whether marketplace sends or not telemetry information
#
telemetry.enabled = true

################################################################################
#
#   Authorization:
#     If no user name or role is specified in authorized.usernames and
#     authorized.roles, then the user trying to (un)install must have the
#     admin role to (un)install
#
################################################################################

#
# Comma separated list of user names which are allowed to (un)install plugins from the marketplace
#
authorized.usernames =

#
# Comma separated list of user roles which are allowed to (un)install plugins from the marketplace
#
authorized.roles =