/*
 * Copyright 2002 - 2014 Webdetails, a Pentaho company.  All rights reserved.
 *
 * This software was developed by Webdetails and is provided under the terms
 * of the Mozilla Public License, Version 2.0, or any later version. You may not use
 * this file except in compliance with the license. If you need a copy of the license,
 * please go to  http://mozilla.org/MPL/2.0/. The Initial Developer is Webdetails.
 *
 * Software distributed under the Mozilla Public License is distributed on an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or  implied. Please refer to
 * the license for the specific language governing your rights and limitations.
 */

/* ==========================================================================
   General Styles
   ========================================================================== */

.clear {
  clear: both;
}

/* new clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
   Install / Uninstall / Update  buttons
   ========================================================================== */

.pentaho-button.installVersionButton .span {
  float: left;
}

.pentaho-button.installVersionButton,
.pentaho-button.installVersionButton:hover,
.pentaho-button.uninstallButton,
.pentaho-button.uninstallButton:hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.pentaho-button.installVersionButton .icon,
.pentaho-button.uninstallButton .icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  top: 50%;
  margin-top: -8px;
}

/* Install */
.pentaho-button.installVersionButton.install {
  border: 1px solid #006080;
  background: #007297; /* Old browsers */
  background: -moz-linear-gradient(top,  #007297 0%, #016585 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007297), color-stop(100%,#016585)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #007297 0%,#016585 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #007297 0%,#016585 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #007297 0%,#016585 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #007297 0%,#016585 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007297', endColorstr='#016585',GradientType=0 ); /* IE6-9 */
}
.pentaho-button.installVersionButton.install:hover {
  background: #016585; /* Old browsers */
  background: -moz-linear-gradient(top,  #016585 0%, #007297 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#016585), color-stop(100%,#007297)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #016585 0%,#007297 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #016585 0%,#007297 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #016585 0%,#007297 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #016585 0%,#007297 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#016585', endColorstr='#007297',GradientType=0 ); /* IE6-9 */
}
.pentaho-button.installVersionButton.install:active {
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,.1) inset;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,.1) inset;
}

.pentaho-button.installVersionButton.install .icon{
  background: url(../img/install.svg) no-repeat;
}
.no-svg .pentaho-button.installVersionButton.install .icon,
.IE.IE8 .pentaho-button.installVersionButton.install .icon{
  background: url(../img/install.png) no-repeat;
}

/* Update */
.pentaho-button.installVersionButton.update {
  border: 1px solid #62ab3f;
  background: #87be6b; /* Old browsers */
  background: -moz-linear-gradient(top,  #87be6b 0%, #63ab3f 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#87be6b), color-stop(100%,#63ab3f)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #87be6b 0%,#63ab3f 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #87be6b 0%,#63ab3f 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #87be6b 0%,#63ab3f 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #87be6b 0%,#63ab3f 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#87be6b', endColorstr='#63ab3f',GradientType=0 ); /* IE6-9 */
}
.pentaho-button.installVersionButton.update:hover {
  background: #63ab3f; /* Old browsers */
  background: -moz-linear-gradient(top,  #63ab3f 0%, #87be6b 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#63ab3f), color-stop(100%,#87be6b)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #63ab3f 0%,#87be6b 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #63ab3f 0%,#87be6b 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #63ab3f 0%,#87be6b 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #63ab3f 0%,#87be6b 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#63ab3f', endColorstr='#87be6b',GradientType=0 ); /* IE6-9 */
}
.pentaho-button.installVersionButton.update:active {
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,.1) inset;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,.1) inset;
}

.pentaho-button.installVersionButton.update .icon {
  background: url(../img/update.svg) no-repeat;
}
.no-svg .pentaho-button.installVersionButton.update .icon,
.IE.IE8 .pentaho-button.installVersionButton.update .icon{
  background: url(../img/update.png) no-repeat;
}

/* Up To Date */
.pentaho-button.installVersionButton.upToDate {
  border: 1px solid #cbdde8;
  background: #ffffff;
  color: #1973bc;
  cursor: default;
}

.pentaho-button.installVersionButton.upToDate .icon {
  background: url(../img/uptodate.svg) no-repeat;
}
.no-svg .pentaho-button.installVersionButton.upToDate .icon,
.IE.IE8 .pentaho-button.installVersionButton.upToDate .icon{
  background: url(../img/uptodate.png) no-repeat;
}

/* Uninstall */
.pentaho-button.uninstallButton {
  border: 1px solid #006080;
  background: #007297; /* Old browsers */
  background: -moz-linear-gradient(top,  #007297 0%, #016585 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#007297), color-stop(100%,#016585)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #007297 0%,#016585 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #007297 0%,#016585 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #007297 0%,#016585 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #007297 0%,#016585 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#007297', endColorstr='#016585',GradientType=0 ); /* IE6-9 */
}
.pentaho-button.uninstallButton:hover {
  background: #016585; /* Old browsers */
  background: -moz-linear-gradient(top,  #016585 0%, #007297 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#016585), color-stop(100%,#007297)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top,  #016585 0%,#007297 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top,  #016585 0%,#007297 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(top,  #016585 0%,#007297 100%); /* IE10+ */
  background: linear-gradient(to bottom,  #016585 0%,#007297 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#016585', endColorstr='#007297',GradientType=0 ); /* IE6-9 */
}
.pentaho-button.uninstallButton:active {
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px 3px rgba(0,0,0,.1) inset;
  box-shadow: 0px 0px 3px 3px rgba(0,0,0,.1) inset;
}

.pentaho-button.uninstallButton .icon {
  background: url(../img/uninstall.svg) no-repeat;
}
.no-svg .pentaho-button.uninstallButton .icon,
.IE.IE8 .pentaho-button.uninstallButton .icon{
  background: url(../img/uninstall.png) no-repeat;
}



/* ==========================================================================
   Plugin list
   ========================================================================== */

ul {
  clear: both;
  list-style-type: none;
}

li {
  clear: both;
}

.bootstrap .filteredPluginsContainer {
  margin-top: 20px;
}

.bootstrap .filteredPluginsContainer ul {
  margin: 0;
}

.bootstrap .filteredPluginsContainer ul > li {
  padding: 20px;
  border-top: 1px solid #cbdde8;
  color: #999999;
}

.bootstrap .filteredPluginsContainer ul > li:hover {
  background: #dce7ed;
  cursor: pointer;
}

.bootstrap .filteredPluginsContainer ul > li:last-of-type {
  border-bottom: 1px solid #cbdde8;
}

.bootstrap .filteredPluginsContainer ul > li .pluginName {
  font-size: 16px;
  margin-bottom: 6px;
  color: #1973bc;
  line-height: 16px;
}

.bootstrap .filteredPluginsContainer ul > li .pluginAuthor {
  font-size: 13px;
  color: #7c7c7c;
  line-height: 13px;
}

.bootstrap .filteredPluginsContainer ul > li .pluginInfo {
  font-size: 13px;
  line-height: 13px;
  padding-top: 2px;
}

.bootstrap .filteredPluginsContainer ul > li .infoVersionStatusMessage {
  font-weight: 800;
  margin-bottom: 5px;
}


/* ==========================================================================
   Tabs
   ========================================================================== */
.pentaho-tab-bar {
  margin-top: 15px;
}

.admin-perspective .pentaho-tabWidget {
  padding: 6px 20px;  
  border: 1px solid transparent;
  border-top: 4px solid transparent;
  border-bottom: none;
}

.admin-perspective .pentaho-tabWidget-selected {
  position: relative;
  z-index: 1;
  border: 1px solid #cbdde8;
  border-top: 4px solid #f2ce17;
  border-bottom: none;
}

button.refreshButton {
  border: none;
  background: none;
  background-image: url(../img/refresh.svg);
  background-position: center center;
  background-size: 15px;
  background-repeat: no-repeat;
  width: 39px;
  height: 39px;
}

.IE.IE8 button.refreshButton,
.no-svg button.refreshButton {
  background-image: url(../img/refresh.png);
}

.bootstrap.admin-perspective .pentaho-tab-deck-panel {
  border-top: 1px solid #cbdde8;
  margin-top: -2px;
  padding: 21px 20px 20px;
}

.filterBar {
  padding: 20px;
  border: 1px solid #cbdde8;
  background: #f5f6f8;
}

.filterBar .filterContainer {
  float: left;
}

.filterBar .stagesInfo {
  float: right;
  line-height: 28px;
}

.filterBar .filterContainer .multiselect {
  display: inline-block;
}

.filterBar .filterContainer .multiselect button.btn.btn-primary.dropdown-toggle {
  width: 175px;
  margin-right: 20px;
  background: #fff;
  border: 1px solid #cbdde8;
  color: #7c7c7c;
  text-shadow: none;
  border-radius: 0;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(243, 247, 250, 1);
  -moz-box-shadow:    inset 0px 0px 2px 0px rgba(243, 247, 250, 1);
  box-shadow:         inset 0px 0px 2px 0px rgba(243, 247, 250, 1);
  text-align: left;
  z-index: 1001;
  padding: 4px 24px 4px 12px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.filterBar .filterContainer .multiselect button.btn.btn-primary.dropdown-toggle .caret {
  border-top-color: #1973bc;
  border-bottom-color: #1973bc;
  right: 10px;
  position: absolute;
}

.bootstrap .filterBar .filterContainer .multiselect .dropdown-menu {
  background-color: #fff;
  padding: 5px 0;
  margin: -1px 0 0;
  border: 1px solid #cbdde8;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  min-width: 173px;
}

.bootstrap .filterBar .filterContainer .multiselect .dropdown-menu .divider {
  margin: 9px 14px;
  background-color: #cbdde8;
}

.bootstrap .filterBar .filterContainer .multiselect .dropdown-menu .divider:last-child {
  display: none;
}

.bootstrap .filterBar .filterContainer .multiselect .dropdown-menu > li > a {
  padding: 3px 15px 3px 30px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #7c7c7c;
}

.bootstrap .filterBar .filterContainer .multiselect .dropdown-menu > li:first-child > a,
.bootstrap .filterBar .filterContainer .multiselect .dropdown-menu > li.divider + li > a {  
  padding: 3px 15px 3px 15px;
}

.bootstrap .filterBar .filterContainer .multiselect .dropdown-menu input[type="radio"],
.bootstrap .filterBar .filterContainer .multiselect .dropdown-menu input[type="checkbox"] {
  margin: -2px 0 0;
}

.bootstrap .filterBar .filterContainer .multiselect .dropdown-menu > li > a:hover,
.bootstrap .filterBar .filterContainer .multiselect .dropdown-menu > li > a:focus,
.bootstrap .filterBar .filterContainer .multiselect .dropdown-submenu:hover > a,
.bootstrap .filterBar .filterContainer .multiselect .dropdown-submenu:focus > a {
  background: #c1d7e1;
}

/* ==========================================================================
   Plugin list item
   ========================================================================== */

.pluginListItem .pluginHeader,
.pluginListItem .devStageIcon,
.pluginListItem .pluginActionContainer {
  display: block;
  float: left;
}

.pluginListItem .pluginHeader {
  width: 55.21%;
}

.pluginListItem .devStageIcon {
  width: 6.88%;
}

.pluginListItem .pluginActionContainer {
  width: 37.91%;
  padding-left: 15px;
}

.pluginListItem .pluginActionContainer .pluginInfo {
  display: block;
  float: left;
  width: 56.11%;
}

.pluginListItem .pluginActionContainer button {
  display: block;
  float: right;
  width: 43.89%;
  text-align: left;
  position: relative;
  line-height: 32px;
  padding: 0 14px;
  margin-top: 1px;
}

.pluginListItem .pluginActionContainer button .icon {
  position: absolute;
  right: 10px;
}

/* ==========================================================================
   Plugin list item - Development Stages icons
   ========================================================================== */

.dev-stage {
  width: 100%;
  height: 35px;
  /* position: absolute; */
  border: none;
  background-position: center center;
  background-repeat: no-repeat;
  border-right : 1px solid #cbdde8;
}

.dev-stage-customer-01 {
  background-image: url(../img/dev-stage-customer-01.svg);
}
.IE.IE8 .dev-stage-customer-01,
.no-svg .dev-stage-customer-01 {
  background-image: url(../img/dev-stage-customer-01.png);
}

.dev-stage-customer-02  {
  background-image: url(../img/dev-stage-customer-02.svg);
}
.IE.IE8 .dev-stage-customer-02,
.no-svg .dev-stage-customer-02 {
  background-image: url(../img/dev-stage-customer-02.png);
}

.dev-stage-customer-03 {
  background-image: url(../img/dev-stage-customer-03.svg);
}
.no-svg .dev-stage-customer-03,
.IE.IE8 .dev-stage-customer-03 {
  background-image: url(../img/dev-stage-customer-03.png);
}

.dev-stage-customer-04 {
  background-image: url(../img/dev-stage-customer-04.svg);
}
.IE.IE8 .dev-stage-customer-04,
.no-svg .dev-stage-customer-04 {
  background-image: url(../img/dev-stage-customer-04.png);
}

.dev-stage-community-01 {
  background-image: url(../img/dev-stage-community-01.svg);
}
.IE.IE8 .dev-stage-community-01,
.no-svg .dev-stage-community-01 {
  background-image: url(../img/dev-stage-community-01.png);
}

.dev-stage-community-02  {
  background-image: url(../img/dev-stage-community-02.svg);
}
.IE.IE8 .dev-stage-community-02,
.no-svg .dev-stage-community-02 {
  background-image: url(../img/dev-stage-community-02.png);
}

.dev-stage-community-03 {
  background-image: url(../img/dev-stage-community-03.svg);
}
.IE.IE8 .dev-stage-community-03,
.no-svg .dev-stage-community-03 {
  background-image: url(../img/dev-stage-community-03.png);
}

.dev-stage-community-04 {
  background-image: url(../img/dev-stage-community-04.svg);
}
.IE.IE8 .dev-stage-community-04,
.no-svg .dev-stage-community-04 {
  background-image: url(../img/dev-stage-community-04.png);
}

/* ==========================================================================
   Development Stages Tooltip
   ========================================================================== */

.bootstrap .devStageIcon .popover {
  background: #f5f6f8;
  border: 1px solid #cbdde8;
  border-radius: 0;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.bootstrap .devStageIcon .popover.top .arrow {
  border: 0;
  width: 20px;
  height: 20px;
  overflow: hidden;
  bottom: -20px;
  left: 50%;
  margin-left: -10px;
}

.bootstrap .devStageIcon .popover.top .arrow:after {
  content: "";
  position: absolute;
  width: 10px;
  height: 10px;
  background: #f6f7f8;
  border: 1px solid #cbdde8;
  transform: rotate(45deg);
  top: -6px;
  left: 12px;
  -webkit-box-shadow: 3px 1px 3px -1px rgba(0,0,0,0.2);
  -moz-box-shadow: 3px 1px 3px -1px rgba(0,0,0,0.2);
  box-shadow: 3px 1px 3px -1px rgba(0,0,0,0.2);
}

/* ==========================================================================
   Info Bar
   ========================================================================== */

.infoBar {
  padding: 20px;
  background: #006d94;
  border: 1px solid #4192af;
  margin-top: 20px;
  color: #fff;
  cursor: pointer;
}
.infoBar:hover {
  background: #007ba8;
}

.infoBar .infoBarHeader {
  float: left;
}

.infoBar .infoBarHeader .infoBarTitle {
  font-size: 16px;
  margin-bottom: 6px;
  line-height: 16px;
}

.infoBar .infoBarHeader .infoBarText {
  font-size: 13px;
  line-height: 13px;
}

.infoBar .infoBarFooter {
  float: right;
  line-height: 35px;
  font-size: 16px; 
  position: relative;
  padding-right: 15px;
}

.infoBar .infoBarFooterText:after {
  right: 0;
  content: '';
  width: 5px;
  height: 9px;
  background-image: url(../img/learn_more_arrow.svg);
  position: absolute;
  top: 50%;
  margin-top: -5px;
}

.IE.IE8 .infoBar .infoBarFooterText:after,
.no-svg .infoBar .infoBarFooterText:after {
  background-image: url(../img/learn_more_arrow.png);
}