/*
 * Copyright 2002 - 2014 Webdetails, a Pentaho company.  All rights reserved.
 *
 * This software was developed by Webdetails and is provided under the terms
 * of the Mozilla Public License, Version 2.0, or any later version. You may not use
 * this file except in compliance with the license. If you need a copy of the license,
 * please go to  http://mozilla.org/MPL/2.0/. The Initial Developer is Webdetails.
 *
 * Software distributed under the Mozilla Public License is distributed on an "AS IS"
 * basis, WITHOUT WARRANTY OF ANY KIND, either express or  implied. Please refer to
 * the license for the specific language governing your rights and limitations.
 */

/* ==========================================================================
   General Styles
   ========================================================================== */

.clear {
  clear: both;
}

/* new clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
  }
* html .clearfix             { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

.border-box {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

/* ==========================================================================
   Install / Uninstall / Update  buttons
   ========================================================================== */

.installVersionButton .span {
  float: left;
}

.installVersionButton .icon,
.uninstallButton .icon {
  display: inline-block;
  height: 16px;
  width: 16px;
  top: 50%;
  margin-top: -8px;
}

/* Install */
.installVersionButton.install .icon{
  background: url(../img/install.svg) no-repeat;
}
.no-svg .installVersionButton.install .icon,
.IE.IE8 .installVersionButton.install .icon{
  background: url(../img/install.png) no-repeat;
}

/* Update */
.installVersionButton.update {
  /* TODO: green coloring */
}

.installVersionButton.update .icon {
  background: url(../img/update.svg) no-repeat;
}
.no-svg .installVersionButton.update .icon,
.IE.IE8 .installVersionButton.update .icon{
  background: url(../img/update.png) no-repeat;
}

/* Uninstall */
.uninstallButton {
  /* TODO: green coloring */
}

.uninstallButton .icon {
  background: url(../img/uninstall.svg) no-repeat;
}
.no-svg .uninstallButton .icon,
.IE.IE8 .uninstallButton .icon{
  background: url(../img/uninstall.png) no-repeat;
}



/* ==========================================================================
   Plugin list
   ========================================================================== */

ul {
  clear: both;
  list-style-type: none;
}

li {
  clear: both;
}

.bootstrap .filteredPluginsContainer {
  margin-top: 20px;
}

.bootstrap .filteredPluginsContainer ul {
  margin: 0;
}

.bootstrap .filteredPluginsContainer ul > li {
  padding: 20px;
  border-top: 1px solid #cbdde8;
  color: #999999;
}

.bootstrap .filteredPluginsContainer ul > li:hover {
  background: #c1d7e1;
  cursor: pointer;
}

.bootstrap .filteredPluginsContainer ul > li:last-of-type {
  border-bottom: 1px solid #cbdde8;
}

.bootstrap .filteredPluginsContainer ul > li .pluginName {
  font-size: 16px;
  margin-bottom: 6px;
  color: #1973bc;
  line-height: 16px;
}

.bootstrap .filteredPluginsContainer ul > li .pluginAuthor {
  font-size: 13px;
  color: #7c7c7c;
  line-height: 13px;
}

.bootstrap .filteredPluginsContainer ul > li .pluginInfo {
  font-size: 13px;
  line-height: 13px;
  padding-top: 2px;
}

.bootstrap .filteredPluginsContainer ul > li .infoVersionStatusMessage {
  font-weight: 800;
  margin-bottom: 5px;
}


/* ==========================================================================
   Tabs
   ========================================================================== */
.pentaho-tab-bar {
  margin-top: 15px;
}

.admin-perspective .pentaho-tabWidget {
  padding: 6px 20px;
}

.admin-perspective .pentaho-tabWidget-selected {
  position: relative;
  z-index: 1;
}

button.refreshButton {
  border: none;
  background: none;
  background-image: url(../img/refresh.svg);
  background-position: center center;
  background-size: 15px;
  background-repeat: no-repeat;
  width: 39px;
  height: 39px;
}

.bootstrap.admin-perspective .pentaho-tab-deck-panel {
  border-top: 1px solid #cbdde8;
  margin-top: -2px;
  padding: 21px 20px 20px;
}

.filterBar {
  padding: 20px;
  border: 1px solid #cbdde8;
  background: #f5f6f8;
}

.filterBar .filterContainer {
  float: left;
}

.filterBar .stagesInfo {
  float: right;
  line-height: 28px;
}

.filterBar .filterContainer .multiselect {
  display: inline-block;
}

.filterBar .filterContainer .multiselect button.btn.btn-primary.dropdown-toggle {
  width: 175px;
  margin-right: 20px;
  background: #fff;
  border: 1px solid #cbdde8;
  color: #7c7c7c;
  text-shadow: none;
  border-radius: 0;
  -webkit-box-shadow: inset 0px 0px 2px 0px rgba(243, 247, 250, 1);
  -moz-box-shadow:    inset 0px 0px 2px 0px rgba(243, 247, 250, 1);
  box-shadow:         inset 0px 0px 2px 0px rgba(243, 247, 250, 1);
  text-align: left;
  z-index: 1001;
  padding: 4px 24px 4px 12px;
  text-overflow: ellipsis;
  overflow: hidden;
}

.filterBar .filterContainer .multiselect button.btn.btn-primary.dropdown-toggle .caret {
  border-top-color: #1973bc;
  border-bottom-color: #1973bc;
  right: 10px;
  position: absolute;
}

.bootstrap .filterBar .filterContainer .multiselect .dropdown-menu {
  background-color: #fff;
  padding: 5px 0;
  margin: -1px 0 0;
  border: 1px solid #cbdde8;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
  -webkit-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2);
}

.bootstrap .filterBar .filterContainer .multiselect .dropdown-menu .divider {
  margin: 9px 14px;
  background-color: #cbdde8;
}

.bootstrap .filterBar .filterContainer .multiselect .dropdown-menu .divider:last-child {
  display: none;
}

.bootstrap .filterBar .filterContainer .multiselect .dropdown-menu > li > a {
  padding: 3px 15px 3px 30px;
  clear: both;
  font-weight: normal;
  line-height: 20px;
  color: #7c7c7c;
}

.bootstrap .filterBar .filterContainer .multiselect .dropdown-menu > li:first-child > a,
.bootstrap .filterBar .filterContainer .multiselect .dropdown-menu > li.divider + li > a {  
  padding: 3px 15px 3px 15px;
}

.bootstrap .filterBar .filterContainer .multiselect .dropdown-menu input[type="radio"],
.bootstrap .filterBar .filterContainer .multiselect .dropdown-menu input[type="checkbox"] {
  margin: -2px 0 0;
}

.bootstrap .filterBar .filterContainer .multiselect .dropdown-menu > li > a:hover,
.bootstrap .filterBar .filterContainer .multiselect .dropdown-menu > li > a:focus,
.bootstrap .filterBar .filterContainer .multiselect .dropdown-submenu:hover > a,
.bootstrap .filterBar .filterContainer .multiselect .dropdown-submenu:focus > a {
  background: #c1d7e1;
}

/* ==========================================================================
   Plugin list item
   ========================================================================== */

.pluginListItem .pluginHeader,
.pluginListItem .devStageIcon,
.pluginListItem .pluginActionContainer {
  display: block;
  float: left;
}

.pluginListItem .pluginHeader {
  width: 55.21%;
}

.pluginListItem .devStageIcon {
  width: 6.88%;
}

.pluginListItem .pluginActionContainer {
  width: 37.91%;
  padding-left: 15px;
}

.pluginListItem .pluginActionContainer .pluginInfo {
  display: block;
  float: left;
  width: 56.11%;
}

.pluginListItem .pluginActionContainer button {
  display: block;
  float: right;
  width: 43.89%;
  text-align: left;
  position: relative;
  line-height: 32px;
  padding: 0 14px;
  margin-top: 1px;
}

.pluginListItem .pluginActionContainer button .icon {
  position: absolute;
  right: 10px;
}

/* ==========================================================================
   Plugin list item - Development Stages icons
   ========================================================================== */

.dev-stage {
  width: 100%;
  height: 35px;
  /* position: absolute; */
  border: none;
  background-position: center center;
  background-repeat: no-repeat;
  border-right : 1px solid #cbdde8;
}

.dev-stage-01 {
  background-image: url(../img/dev-stage-01.svg);
}
.IE.IE8 .dev-stage-01,
.no-svg .dev-stage-01 {
  background-image: url(../img/dev-stage-01.png);
}

.dev-stage-02  {
  background-image: url(../img/dev-stage-02.svg);
}
.IE.IE8 .dev-stage-02,
.no-svg .dev-stage-02 {
  background-image: url(../img/dev-stage-02.png);
}

.dev-stage-03 {
  background-image: url(../img/dev-stage-03.svg);
}
.no-svg .dev-stage-03,
.IE.IE8 .dev-stage-03 {
  background-image: url(../img/dev-stage-03.png);
}

.dev-stage-04 {
  background-image: url(../img/dev-stage-04.svg);
}
.IE.IE8 .dev-stage-04,
.no-svg .dev-stage-04 {
  background-image: url(../img/dev-stage-04.png);
}

.dev-stage-community-01 {
  background-image: url(../img/dev-stage-community-01.svg);
}
.IE.IE8 .dev-stage-community-01,
.no-svg .dev-stage-community-01 {
  background-image: url(../img/dev-stage-community-01.png);
}

.dev-stage-community-02  {
  background-image: url(../img/dev-stage-community-02.svg);
}
.IE.IE8 .dev-stage-community-02,
.no-svg .dev-stage-community-02 {
  background-image: url(../img/dev-stage-community-02.png);
}

.dev-stage-community-03 {
  background-image: url(../img/dev-stage-community-03.svg);
}
.IE.IE8 .dev-stage-community-03,
.no-svg .dev-stage-community-03 {
  background-image: url(../img/dev-stage-community-03.png);
}

.dev-stage-community-04 {
  background-image: url(../img/dev-stage-community-04.svg);
}
.IE.IE8 .dev-stage-community-04,
.no-svg .dev-stage-community-04 {
  background-image: url(../img/dev-stage-community-04.png);
}