<div class="stagesInfo">

  <div class="lane" data-ng-repeat="lane in lanes">
    <div class="sectionHeader">
      {{lane.name}}
    </div>

    <div class="stagesContainer">
      <div class="stage clearfix" data-ng-repeat="stage in lane.stages">
        <div data-dev-stage-icon data-lane="lane.id" data-phase="stage.phase"
            data-disable-popup="true"></div>
        <div class="singleStageInfo">
          <div class="name">{{stage.name}}</div>
          <div class="description">{{stage.description}}</div>
        </div>
      </div>
    </div>

  </div>

</div>